.container {
  padding: 0 2rem;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
}
.rate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  padding: 1rem 0;
}
.rate div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.actions {
  width: 100%;
  display: flex;
  justify-content: space-between;

  margin-top: 1rem;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
