.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.details {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.details h3 {
  margin: 0;
}

.actions {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: flex-end;
}

/* .status {
} */

.rating {
  display: flex;
  width: 100%;
  text-align: start;
}
